# Dependency directories
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Example output files
examples/

# OS specific files
.DS_Store
Thumbs.db 

*.pdf